@page
@model BridgeScenarios.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="page-layout">
    <div class="left-panel">
        <div class="input-section">
            <h4>Enter scenario code:</h4>
            <form id=gen_sc method="post">
                <textarea 
                    asp-for="TextInput" 
                    placeholder="Enter text here">
                </textarea>
            </form>
        </div>
    </div>
    <div class="right-panel">
        
        
        <div class="grid-rows">
            <div class="row-n">
                <div>
                    <button type="submit" form="gen_sc" id="playButton">
                        <img id="arrow-img" src="~/assets/arrow.png"/>
                    </button>
                </div>
                <div class="hands">
                    <div class="suit">
                        <img id="suit-img" src="~/assets/spade.png"/>
                        @if (Model.HandSuits != null){
                            @Html.Raw(Model.HandSuits[0])<br>
                        }
                    </div>
                    <div class="suit">
                        <img id="suit-img" src="~/assets/heart.png"/>
                        @if (Model.HandSuits != null){
                            @Html.Raw(Model.HandSuits[1])<br>
                        }
                    </div>
                    <div class="suit">
                        <img id="suit-img" src="~/assets/diamond.png"/> 
                        <div> </div>
                        @if (Model.HandSuits != null){
                            @Html.Raw(Model.HandSuits[2])<br>
                        }
                    </div>
                    <div class="suit">
                        <img id="suit-img" src="~/assets/club.png"/>
                        @if (Model.HandSuits != null){
                            @Html.Raw(Model.HandSuits[3])<br>
                        }
                    </div>
                </div>
                <div></div>
            </div>
            <div>
                <div class="row-mid">
                    <div class="aligning-cells">
                        <div></div>
                        <div class="hands">
                            <div class="suit">
                                <img id="suit-img" src="~/assets/spade.png"/>
                                @if (Model.HandSuits != null){
                                    @Html.Raw(Model.HandSuits[4])<br>
                                }
                            </div>
                            <div class="suit">
                                <img id="suit-img" src="~/assets/heart.png"/>
                                @if (Model.HandSuits != null){
                                    @Html.Raw(Model.HandSuits[5])<br>
                                }
                            </div>
                            <div class="suit">
                                <img id="suit-img" src="~/assets/diamond.png"/> 
                                <div> </div>
                                @if (Model.HandSuits != null){
                                    @Html.Raw(Model.HandSuits[6])<br>
                                }
                            </div>
                            <div class="suit">
                                <img id="suit-img" src="~/assets/club.png"/>
                                @if (Model.HandSuits != null){
                                    @Html.Raw(Model.HandSuits[7])<br>
                                }
                            </div>
                        </div>
                    </div>
                    <div class = "grid-snwe">
                        <div></div><div>N</div><div></div>
                        <div>W</div>
                        <div>
                            <div id="spinner" style="display:none;">
                                <div class="loader">
                                    <img id="loading-img" src="~/assets/loading.png"/>
                                </div>
                            </div>
                        </div>
                        <div>E</div>
                        <div></div><div>S</div><div></div>
                    </div>
                    <div class="hands">
                        <div class="suit">
                            <img id="suit-img" src="~/assets/spade.png"/>
                            @if (Model.HandSuits != null){
                                @Html.Raw(Model.HandSuits[12])<br>
                            }
                        </div>
                        <div class="suit">
                            <img id="suit-img" src="~/assets/heart.png"/>
                            @if (Model.HandSuits != null){
                                @Html.Raw(Model.HandSuits[13])<br>
                            }
                        </div>
                        <div class="suit">
                            <img id="suit-img" src="~/assets/diamond.png"/> 
                            <div> </div>
                            @if (Model.HandSuits != null){
                                @Html.Raw(Model.HandSuits[14])<br>
                            }
                        </div>
                        <div class="suit">
                            <img id="suit-img" src="~/assets/club.png"/>
                            @if (Model.HandSuits != null){
                                @Html.Raw(Model.HandSuits[15])<br>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row-s">
                    <div></div>
                    <div class="hands">
                        <div class="suit">
                            <img id="suit-img" src="~/assets/spade.png"/>
                            @if (Model.HandSuits != null){
                                @Html.Raw(Model.HandSuits[8])<br>
                            }
                        </div>
                        <div class="suit">
                            <img id="suit-img" src="~/assets/heart.png"/>
                            @if (Model.HandSuits != null){
                                @Html.Raw(Model.HandSuits[9])<br>
                            }
                        </div>
                        <div class="suit">
                            <img id="suit-img" src="~/assets/diamond.png"/> 
                            <div> </div>
                            @if (Model.HandSuits != null){
                                @Html.Raw(Model.HandSuits[10])<br>
                            }
                        </div>
                        <div class="suit">
                            <img id="suit-img" src="~/assets/club.png"/>
                            @if (Model.HandSuits != null){
                                @Html.Raw(Model.HandSuits[11])<br>
                            }
                        </div>
                    </div>
                    <div style="text-align: right">
                        @if (Model.error_input) {
                            <div>ERROR</div>
                        }
                        @if (Model.Tries != null) {
                            if (!Model.error_input) {
                                <div># of tries: @Model.Tries</div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(){
  var form = document.getElementById('gen_sc'); // Corrected ID to match your form
  var spinner = document.getElementById('spinner');
  
  form.addEventListener('submit', function() {
    spinner.style.display = 'block';
    // Optionally, you could also disable the submit button to prevent multiple submissions
    document.getElementById('playButton').disabled = true;
  });
});
</script>
